* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: url(/images/keyboard.png);
    opacity: 15;
  }
  
  header {
    background-color: #00407a;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    opacity: 15;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: blue;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #00407a;
  }

  #search-jobs {
    background-color: orange;
  }
  